.sidebarChannel:hover > h4 {
  color: gray;
  background-color: #2f3135;
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarChannel__hash {
  font-size: 25px;
  padding: 2px;
}
